@CHARSET "UTF-8";

/* @IMPORT url("solute.loginpage.css"); */
@IMPORT url("solute.common.css");
@IMPORT url("solute.frontpage.css");
@IMPORT url("solute.searchpage.css");

body {
    font-family: "맑은 고딕", 'Malgun Gothic', 'dotum';
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


