@charset "utf-8";


.s-body-container {
	padding: 41px 0 0 0;	
}


.s-body {
	margin: 0 auto;
	padding: 20px 0 0 0;
	max-width: 850px;
	
	border-left: solid 1px rgb(244, 175, 253);
	border-right: solid 1px rgb(244, 175, 253);
	border-bottom: solid 1px rgb(244, 175, 253);
}

.s-common-body {
	border: none;
	max-width: 770px;
	margin: 0 auto 0 auto;
	
	border-top: solid 1px rgb(167, 11, 187);
	border-left: solid 1px rgb(167, 11, 187);
	border-right: solid 1px rgb(167, 11, 187);
	
	height: 300px;
}

.s-common-body .s-menu {
	
}