@charset "utf-8";

/* @import url("solute.loginpage.body.title.css"); */

.s-body {
    /* background-color: rgb(221, 189, 206); */
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: fuchsia;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: fuchsia;
}