@charset "utf-8";

.s-loginpage {
    text-align: center;
}

.s-loginpage .s-header .s-wrap {
    /*height: 20px;*/
    background-color: #ff7777;
    position: relative;
}

.s-loginpage .s-header ul.s-list {
    list-style: none;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.s-loginpage .s-header ul.s-list > li{
    display: inline-block;
    position: relative;
}

.s-loginpage .s-header ul.s-list > li[role="title"] {
    color: #ffffff;
    font-size: 30px;
}