@CHARSET "UTF-8";

@IMPORT url("solute.loginpage.css");

html, body {
    height: 100%;
}

body {
    font-family: "맑은 고딕", 'Malgun Gothic', 'dotum';
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}