@charset "utf-8";

.s-joinpage {
    text-align: center;
}

.s-joinpage .s-header-wrap {
    /*height: 20px;*/
    background-color: #ff7777;
    position: relative;
    height: 100%;
}

.s-joinpage ul.s-header-list {
    list-style: none;
    text-align: left;
    position: relative;
}

.s-joinpage ul.s-header-list > li{
    display: inline-block;
    position: relative;
}

.s-joinpage ul.s-header-list > li[role="title"] {
    color: #ffffff;
    font-size: 30px;
}