@CHARSET "UTF-8";

@IMPORT url("kendo/kendo.common.css");
@IMPORT url("kendo/kendo.default.css");
@IMPORT url("solute/solute.css");

a:link {color: blue; text-decoration: none;}
a:visited {color: red; text-decoration: none;}
a:active {color: green; font-weight: bold}
a:hover {color: orange; font-weight: bold; text-shadow: black;}
